<footer>
    <div class="footer-bottom">
        <div class="row">
            <div class="col-md-2"><h5 style="font-family:'Roboto';">© 2018 Weir Minerals.</h5> </div>
            <div class="col-md-5"></div>
            <div class="col-md-5">
                <!-- <div class="col-md-7" style="margin-top: 4px;">(GPDM data uploaded date: {{AuthValue.etllastupdate}})</div> -->
                <div class="col-md-1"><a href="Term.html" target="Term"><h5> Terms</h5></a></div>
                <div class="col-md-4"><a href="Privacy.html" target="Privacy"><h5>Privacy & Cookies</h5></a></div>
            </div>
        </div>
    </div>

</footer>
